<p id="notice"><%= notice %></p>

<p>
  <strong>Dia:</strong>
  <%= @horario.dia %>
</p>

<p>
  <strong>Entrada:</strong>
  <%= @horario.entrada %>
</p>

<p>
  <strong>Saida:</strong>
  <%= @horario.saida %>
</p>

<p>
  <strong>Loja:</strong>
  <%= @horario.loja_id %>
</p>

<%= link_to 'Edit', edit_horario_path(@horario) %> |
<%= link_to 'Back', horarios_path %>
