<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @localizacao.latitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @localizacao.Latitude %>
</p>

<p>
  <strong>City:</strong>
  <%= @localizacao.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @localizacao.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @localizacao.state %>
</p>

<p>
  <strong>State code:</strong>
  <%= @localizacao.state_code %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @localizacao.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @localizacao.country %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @localizacao.country_code %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @localizacao.tipo %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @localizacao.endereco %>
</p>

<p>
  <strong>Street:</strong>
  <%= @localizacao.street %>
</p>

<p>
  <strong>Locationable:</strong>
  <%= @localizacao.locationable %>
</p>

<%= link_to 'Edit', edit_localizacao_path(@localizacao) %> |
<%= link_to 'Back', localizacoes_path %>
